asn1crypto==1.5.1
blinker==1.6.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.0.0
colorama==0.4.6
cryptography==40.0.2
filelock==3.12.0
Flask==2.3.2
idna==3.4
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
multipledispatch==0.6.0
numpy==1.24.3
oscrypto==1.3.0
packaging==23.1
pandas==1.5.3
pyarrow==10.0.1
pycparser==2.21
pycryptodomex==3.17
PyJWT==2.6.0
pyOpenSSL==23.1.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.30.0
six==1.16.0
snowflake-connector-python==3.0.3
snowflake-snowpark-python==1.4.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
Werkzeug==2.3.4
zipp==3.15.0
